.post-list
  - if @posts.any?
    - @posts.each do |year, posts_by_year|

      %h2= year

      - posts_by_year.each do |month, posts|
        %h3= Date.new(year, month).strftime('%B')
        %ul.bullet-list

          %li
            %span.title
              %strong Title
            %span.posted_at
              %strong Posted at
            %span.tags
              %strong Tags

          - posts.each do |post|
            = partial :post_list_row, :locals => { :post => post }
