!!!
%html
  %head

    %title {{page.title : Taming The Mind Monkey}}

    %link{:rel => "stylesheet", :href => "/css/style.css" }
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %link{:rel => "stylesheet", :href => "/css/_pygments_github.css"}
    %link{:rel => "stylesheet", :href => "/css/buttons.css"}
    %link{:rel => "stylesheet", :href => "/css/elements.css"}
    %link{:rel => "stylesheet", :href => "/css/about-slider.css" }
    %link{:rel => "stylesheet", :href => "/css/colorbox.css"}
    %link{:rel => "stylesheet", :href => "/css/nivo-slider.css" }
    %link{:rel => "stylesheet", :href => "/css/nivo-style.css" }

    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.6.2.js"}
    %script{:type => "text/javascript", :src => "/javascripts/cufon-yui.js"}
    %script{:type => "text/javascript", :src => "/javascripts/Aller_400-Aller_700-Aller_italic_400-Aller_italic_700.font.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tweetable.js"}
    %script{:type => "text/javascript", :src => "/javascripts/slides.min.jquery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.nivo.slider.pack.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.colorbox.js"}
    %script{:type => "text/javascript", :src => "/javascripts/s3Slider.js"}
    %script{:type => "text/javascript", :src => "/javascripts/contact.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tipsy.js"}
    %script{:type => "text/javascript", :src => "/javascripts/custom.js"}
  %body
    #main-container
      #site-wrapper
        #header
          .title
            TamingTheMindMonkey.com
            \»
            %span.subtitle
              blogging to get that monkey under control

        .decoration
        .headline
          #slides
            .slides_container
              .slide
                %h3.headline-heading
                  %strong
                    Welcome to TamingTheMindMonkey.com. A development blog by Robin Roestenburg!
                    %a{:href => '#', :class => 'headline-button'} Read More
              .slide
                Bla

        .decoration

        =yield

        .clear
        .decoration
        .footer
          %p.footer-text
            &copy; Copyright 2011-2012. TamingTheMindMonkey.com
            .footer-socials
              %a{:title => "Twitter", :class => "tooltip", :href => "#"}
                %img{:class => "footer-image", :src => "/images/icons/twitter-large.png", :width => "22", :alt => "Twitter"}
              %a{:title => "Back To Top", :class => "tooltip top", :href => "#"}
                %img{:class => "footer-image", :src => "/images/icons/up.png", :width => "22", :alt => "Go Back Up!"}

