!!! 5
%html
  %head

    %title= @title || 'Taming the Mind Monkey'

    %link{:rel => "stylesheet", :href => "/css/style.css" }
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %link{:rel => "stylesheet", :href => "/css/_pygments_github.css"}
    %link{:rel => "stylesheet", :href => "/css/buttons.css"}
    %link{:rel => "stylesheet", :href => "/css/elements.css"}
    %link{:rel => "stylesheet", :href => "/css/about-slider.css" }
    %link{:rel => "stylesheet", :href => "/css/colorbox.css"}
    %link{:rel => "stylesheet", :href => "/css/nivo-slider.css" }
    %link{:rel => "stylesheet", :href => "/css/nivo-style.css" }
    -# %link{:rel => "stylesheet", :href => "http://coderwall.com/stylesheets/jquery.coderwall.css"}

    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.6.2.js"}
    %script{:type => "text/javascript", :src => "/javascripts/cufon-yui.js"}
    %script{:type => "text/javascript", :src => "/javascripts/Aller_400-Aller_700-Aller_italic_400-Aller_italic_700.font.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tweetable.js"}
    %script{:type => "text/javascript", :src => "/javascripts/slides.min.jquery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.nivo.slider.pack.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.colorbox.js"}
    %script{:type => "text/javascript", :src => "/javascripts/s3Slider.js"}
    %script{:type => "text/javascript", :src => "/javascripts/contact.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.tipsy.js"}
    %script{:type => "text/javascript", :src => "/javascripts/custom.js"}
    -# %script{:type => "text/javascript", :src => "http://coderwall.com/javascripts/jquery.coderwall.js"}


    %script{:type => "text/javascript", :src => "/javascripts/google-analytics.js"}

  %body
    #main-container
      #site-wrapper
        #header

          -# .social
          -#   <!-- AddThis Button BEGIN -->
          -#   <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
          -#   <a class="addthis_button_twitter_follow" addthis:userid="robinroest"></a>
          -#   <a class="addthis_button_linkedin_follow" addthis:userid="roestenburg"></a>
          -#   <a class="addthis_button_google_follow" addthis:userid="109341398673914811993"></a>
          -#   <a class="addthis_button_rss_follow" addthis:url="http://www.tamingthemindmonkey.com"></a>
          -#   </div>
          -#   <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f3190d11fa29081"></script>
          -#   <!-- AddThis Button END -->


        .columns
          .column.list

            =yield

          .column.info

            .monkey-logo

            .ttmm
              %h5 Mind monkey is a Buddhist term meaning (amongst other things) "restless, uncontrollable".

            .inset
              .about
                .profile
                  %h3 About me
                  %img{:valign => "middle", :src => '/images/Robin.jpg', :width => "70px", :class => "column-image"}
                  My name is Robin Roestenburg. I'm a boyfriend, dad and software engineer (Ruby, Java) from the Netherlands.
                  %br
                  %br
                  I have a monkey mind, and I feed it by reading, practicing
                  and blogging about new (to me anyway) things related to
                  programming and software development.
                  %br
                  %br
                  .follow
                    <a href="https://twitter.com/robinroest" class="twitter-follow-button" data-show-count="false">Follow @robinroest</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            -# .wall
            -#   <section class="coderwall" data-coderwall-username="robinroestenburg" data-coderwall-orientation="vertical"></section>
            -#   .bla

            .other
              %a{href: 'http://www.railsberry.com', alt: 'railsberry, a sweet european rails conference', target: 'new'}<
                %img{:valign => "middle", :src => '/images/railsberry_im_in-medium.jpg'}

              %br
              %a{href: 'http://www.euruko2012.org', alt: 'Euruko 2012', target: 'new'}
                %img{:valign => "middle", :src => '/images/euruko-logo.png', :width => '100px'}

        .clear
        .decoration
        #footer
          %p.footer-text
            &copy; Copyright 2011-2012. TamingTheMindMonkey.com
            -# .footer-socials
            -#   <!-- AddThis Button BEGIN -->
            -#   <div class="addthis_toolbox addthis_default_style ">
            -#   <a class="addthis_button_preferred_1"></a>
            -#   <a class="addthis_button_preferred_2"></a>
            -#   <a class="addthis_button_preferred_3"></a>
            -#   <a class="addthis_button_preferred_4"></a>
            -#   </div>
            -#   <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f3190d11fa29081"></script>
            -#   <!-- AddThis Button END -->
