.post-list
  %h2
    = @month.strftime('%B')

  - if @posts.any?
    %ul.bullet-list

      %li
        %span.title
          %strong Title
        %span.posted_at
          %strong Posted at
        %span.tags
          %strong Tags

        - @posts.each do |post|
          = partial :post_list_row, :locals => { :post => post }
