.post-list
  %h2= @year

  - if @months.any?
    - @months.each do |month|
      %h3= Date.new(@year, month[0]).strftime('%B')
      %ul.bullet-list

        %li
          %span.title
            %strong Title
          %span.posted_at
            %strong Posted at
          %span.tags
            %strong Tags

        - month[1].each do |post|
          = partial :post_list_row, :locals => { :post => post }
