/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../views/sass/_columns.sass */
.columns {
  width: 880px;
  padding-bottom: 30px;
}
/* line 5, ../../views/sass/_columns.sass */
.columns h2 {
  font-weight: bold;
}
/* line 8, ../../views/sass/_columns.sass */
.columns h2.column-heading {
  font-size: 18px;
  color: #343434;
  padding-bottom: 20px;
}
/* line 13, ../../views/sass/_columns.sass */
.columns img.column-image {
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 5px;
  float: left;
}
/* line 19, ../../views/sass/_columns.sass */
.columns ul.bullet-list li {
  padding-bottom: 5px;
}
/* line 23, ../../views/sass/_columns.sass */
.columns .two-columns .column {
  color: #6f6f6f;
  line-height: 22px;
  margin-right: 60px;
  width: 510px;
  float: left;
  padding-bottom: 30px;
}
/* line 31, ../../views/sass/_columns.sass */
.columns .two-columns .last {
  margin-right: 0px;
  width: 310px;
}
/* line 36, ../../views/sass/_columns.sass */
.columns .three-columns .column {
  color: #6f6f6f;
  line-height: 22px;
  margin-right: 65px;
  width: 250px;
  float: left;
  padding-bottom: 30px;
}

/* line 1, ../../views/sass/_footer.sass */
#header {
  width: 100%;
  height: 150px;
  background-image: url("/images/monkey_150x150_grayscale.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 30px;
}

/* line 10, ../../views/sass/_footer.sass */
#footer {
  padding-bottm: 30px;
}

/* line 14, ../../views/sass/_footer.sass */
p.footer-text {
  float: left;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 75%;
  line-height: 2em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 12px;
}

/* line 32, ../../views/sass/screen.sass */
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-image: url("/images/background/pattern/pat5.png");
  background-repeat: repeat;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #004c99;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #bf00ff;
}
/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p290@sinatra-blog/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 38, ../../views/sass/screen.sass */
body .post-list h3 {
  margin-bottom: 0.5em;
}
/* line 40, ../../views/sass/screen.sass */
body .post-list ul {
  list-style: none;
  padding-left: 0;
}
/* line 46, ../../views/sass/screen.sass */
body .post-list span {
  position: relative;
  display: inline-block;
}
/* line 50, ../../views/sass/screen.sass */
body .post-list span.title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 450px;
}
/* line 54, ../../views/sass/screen.sass */
body .post-list span.posted_at {
  width: 150px;
}
/* line 57, ../../views/sass/screen.sass */
body .post-list span.tags {
  width: 250px;
}
/* line 60, ../../views/sass/screen.sass */
body .post-list span.tags a {
  text-decoration: none;
}
/* line 65, ../../views/sass/screen.sass */
body .blog-item ul.post-details {
  width: 100%;
  position: relative;
  list-style-type: none;
  padding-bottom: 20px;
  margin-top: -10px;
  display: block;
  padding-left: 0;
}
/* line 78, ../../views/sass/screen.sass */
body .blog-item ul.post-details li {
  background-repeat: no-repeat;
  background-position: 0px 4px;
  float: left;
  padding-left: 20px;
  padding-top: 2px;
  padding-right: 15px;
}
/* line 87, ../../views/sass/screen.sass */
body .blog-item ul.post-details li.tags-posted {
  background-image: url("/images/blog-lists/tags.png");
}
/* line 90, ../../views/sass/screen.sass */
body .blog-item ul.post-details li.time-posted {
  background-image: url("/images/blog-lists/clock.png");
}
/* line 93, ../../views/sass/screen.sass */
body .blog-item ul.post-details li.user-posted {
  background-image: url("/images/blog-lists/user.png");
}
/* line 96, ../../views/sass/screen.sass */
body .blog-item ul.post-details li.comments-posted {
  background-image: url("/images/blog-lists/comments.png");
}
/* line 99, ../../views/sass/screen.sass */
body .blog-item ul.post-details li.more-posted {
  background-image: url("/images/blog-lists/more.png");
}
/* line 104, ../../views/sass/screen.sass */
body .blog-item .blog-content .highlight {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: url("/images/background/pattern/pat1.png");
  background-repeat: repeat;
  margin-bottom: 1.5em;
}
/* line 110, ../../views/sass/screen.sass */
body .blog-item .blog-content .highlight pre {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 1px inset;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace;
  overflow-x: auto;
}
/* line 121, ../../views/sass/screen.sass */
body .blog-item .navigation {
  margin-bottom: 5px;
}
/* line 124, ../../views/sass/screen.sass */
body .blog-item .navigation .decoration {
  margin-bottom: 5px;
}
/* line 127, ../../views/sass/screen.sass */
body .blog-item .navigation .previous {
  width: 440px;
  display: table-cell;
}
/* line 131, ../../views/sass/screen.sass */
body .blog-item .navigation .previous img {
  vertical-align: middle;
  margin-right: 5px;
}
/* line 134, ../../views/sass/screen.sass */
body .blog-item .navigation .next {
  text-align: right;
  width: 440px;
  display: table-cell;
}
/* line 139, ../../views/sass/screen.sass */
body .blog-item .navigation .next img {
  vertical-align: middle;
  margin-left: 5px;
}
/* line 142, ../../views/sass/screen.sass */
body .blog-item .navigation h4 {
  display: inline;
}
