h@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------*/
/* Demo Styles, These Styles Make The About Icons Have a HoverEffect. */
/* You can obtain the same effect by giving an image the class <div class="icon-hover">...</div> */
/* li.float is responsible for the about page list columns. Makes the lists float to the left */
/*----------------------------------------------------*/
.demo-icons{
  width:945px;
  padding-left:3px;
  padding-bottom:15px;
}

.demo-image{
  padding-right:17px;
  padding-bottom:30px
}


li.float{
  float:left;
  list-style:none;
  padding-right:10px;
}

.bgSwitch{
  top:120px;
  left:-5px;
  position:fixed;
  width:30px;
  padding-top:60px;
  padding-left:12px;
  padding-right:5px;
  background-image:url(../images/background/bg_change.png);
  width:27px;
  height:113px;
}


.fullwidth{
  line-height:22px;
  padding-bottom:30px;
}

a{
  text-decoration:none;
  border:0px;
  padding:0px;
  margin:0px;
  color:#e44d26;
}

a:visited{
  border:0px;
  margin:0px;
  padding:0px;
  text-decoration:none;
}

/*End Of General Styles*/

/*----------------------------------------------------*/
/*Twitter Styles*/
/*----------------------------------------------------*/
small {
  font-style:italic;
  color:#e44d26;
}

#tweets li {
  list-style:none;
  height:50px;
  background-image:url(../images/icons/twitter-widget.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding-bottom:5px;
  padding-right:30px;
  padding-left:80px;
  color:#6e6e6e;
  font-style:italic;
}

p.tweet_link_0{
  font-weight:300;
  line-height:30px;
}


#tweets li.tweet_content_0 {
  border-top:0px none;
}
#tweets li:last-child{
  border-bottom:0px none;
}

li.tweet_content_0{
}

/* For Styles Reffering To The CSS3 Buttons, check buttons.css */
/* For Styles Reffering To The List Decorations and Table check elements.css */
/* For Styles Reffering To Image Gallery Properties, check colorbox.css */
/* For Styles Reffering To HomePage Slider Properties, check nivo-slider.css */

/*----------------------------------------------------*/
/* Horizontal Decorations */
/*----------------------------------------------------*/
.decoration{
  background-image:url(../images/site-deco.png)!important;
  background-repeat:repeat-x;
  margin-bottom:30px;
  display:block;
  width:880px;
  height:8px;
}

.decoration-2{
  background-image:url(../images/site-deco2.png)!important;
  background-repeat:repeat-x;
  margin-bottom:30px;
  display:block;
  width:880px;
  height:8px;
}

.decoration-3{
  background-image:url(../images/site-deco3.png)!important;
  background-repeat:repeat-x;
  margin-bottom:30px;
  display:block;
  width:880px;
  height:8px;
}

.decoration-4{
  background-image:url(../images/site-deco4.png)!important;
  background-repeat:repeat-x;
  margin-bottom:30px;
  display:block;
  width:880px;
  height:9px;
}

.decoration-5{
  background-image:url(../images/site-deco5.png)!important;
  background-repeat:repeat-x;
  margin-bottom:30px;
  display:block;
  width:880px;
  height:9px;
}


/*End Of Horizontal Decorations  */
/*----------------------------------------------------*/
/*Body And Main Wrapper Decorations */
/*----------------------------------------------------*/
#main-container{
  background-image:url(../images/wrapper.png)!important;
  background-repeat:repeat-y;
  margin:auto;
  min-width:1016px;
  max-width:1016px;
}

#site-wrapper{
  display:block;
  padding-top:30px;
  padding-left:67px;
  padding-right:60px;
  padding-bottom:30px;
  min-width:880px;
  max-width:880px;
  margin:auto;
}
/*End Of Body And Wrapper Decorations */
/*----------------------------------------------------*/
/* Clear System */
/*----------------------------------------------------*/
.clear{
  clear:both;
}
/*End Of Control System */
/*----------------------------------------------------*/
/*Logo And Navigation Decorations */
/*----------------------------------------------------*/
#logo{
  width:400px;
  padding-bottom:30px;
}

#navigation{
  margin-top:-90px;
  margin-right:-15px;
  float:right;
}

.menu {

}

a.menuTitle{
  color:#6d6d6d;
  font-weight:lighter;
}

.menu > li {
  display:block;
  float:left;
  margin-right:20px;
  margin-left:5px;
  position:relative;
  height:34px;
  z-index:99;
}
.menu > li:hover {
  color:#333;
}


.dropdown {
  display:none;
  position:absolute;
  width:125px;
  list-style:none;
  text-decoration:none;
  background:#fbfbfb repeat-x;
  -moz-box-shadow:0px 0px 2px #6e6e6e;
  box-shadow:0px 0px 2px #6e6e6e;
  -webkit-box-shadow:0px 0px 2px #6e6e6e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left:10px;
  padding-right:10px;
  margin-left:-40px;
  top:30px;
}
.dropdown li {
  padding-top:5px;
  padding-bottom:8px;
}
.dropdown li a {
  text-decoration:none;
  color:#777;
  margin-top:30px;
}
.dropdown li a:hover {
  color:#333;
}
/*End Of Logo and Navigation Styles  */

/*----------------------------------------------------*/
/*Homepage And About Page Styles */
/*----------------------------------------------------*/
.headline{
  line-height:22px;
  padding-bottom:30px;
}

h3.headline-heading{
  width:705px;
  color:#6e6e6e;
  line-height:30px;
  font-style:italic;
  font-weight:100;
}

a.headline-button{
  float:right;
  margin-top:-30px;
  margin-right:-170px;
  text-decoration:none;
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;
  display:block;
  width:165px;
  background-color:#000000;
  color:#FFF;
}

a.headline-button:hover{
  background-color:#343434;
}

a.headline-button:active{
  background-color:#6e6e6e;
}
/*----------------------------------------------------*/
/*Heading And Twitter Rotator Styles */
/*----------------------------------------------------*/

.slides_container {
  width:880px;
  display:none;
}

.slides_container div.slide {
  width:880px;
  height:60px;
  display:block;
}

.item {
  float:left;
  width:135px;
  height:60px;
  margin:0 10px;
  background:#efefef;
}

/*End Of Homepage Twitter And Heading Styles */
/*----------------------------------------------------*/
/*Home Thumbnail Icons */
/*----------------------------------------------------*/
.home-thumbs{
  width:920px;
}

img.home-thumb{
  float:left;
}

img.home-thumb-over{
  position:absolute;
  filter:alpha(opacity=0);
  opacity:0;
  margin-left:-177px;
}

.home-thumb-wrapper{
  float:left;
  padding-right:10px;
  padding-left:11px;
  padding-top:11px;
  padding-bottom:10px;
  margin-right:7px;
  background-image:url(../images/image-overlay/home-thumbs/thumb_bg.png);
  background-repeat:no-repeat;
  background-position:center center center center;
  width:200px;
  height:200px;
}
/*End Of Homepage Styles*/

/*----------------------------------------------------*/
/*Column Creation*/
/*----------------------------------------------------*/

p, blockquote{
}

blockquote.big-quote{
  background-image:url(../images/big-blockquote.png);
  background-repeat:no-repeat;
  padding-left:100px;
  padding-bottom:30px;
  line-height:22px;
  font-style:italic;
  color:#6f6f6f;
}

blockquote.small-quote{
  background-image:url(../images/small-blockquote.png);
  background-repeat:no-repeat;
  padding-left:100px;
  padding-bottom:30px;
  font-style:italic;
  color:#6f6f6f;

}
/*End Of Blockquote and Column Styles */
/*End Of Homepage And About Styles */


/*----------------------------------------------------*/
/*Video Styles*/
/*----------------------------------------------------*/

iframe.video{
  float:left;
  background-image:url(../images/site-deco.png);
  padding:10px;
  margin-right:25px;
  margin-bottom:25px;
}

.portfolio-video-heading{
  color:#6d6d6d;
  float:left;
}

.portfolio-video-text{
  padding-bottom:20px;
  width:295px;
  float:left;
}

/*End Of Video Styles*/

/*----------------------------------------------------*/
/*Gallery Styles*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*Portfolio One Style */
/*----------------------------------------------------*/
#portfolio-one{
  display:block;
  width:880px;
  padding-bottom:20px;
}

img.portfolio-one-img{
  float:left;
  background-image:url(../images/site-deco.png);
  padding:8px;
}

.portfolio-one-wrapper{
  width:881px;
  height:311px;
  margin-bottom:30px;
}

h2.portfolio-one-heading{
  font-weight:lighter;
  color:#6d6d6d;
  text-align:left;
  float:left;
  padding-left:30px;
  width:240px;
  padding-bottom:30px;
}

p.portfolio-one-text{
  display:block;
  color:#6d6d6d;
  float:left;
  width:245px;
  line-height:22px;
  padding-left:30px;
  margin-bottom:23px;
}

img.port-one-over{
  filter:alpha(opacity=0);
  opacity:0;
  position:absolute;
  display:block;
  width:591px;
  height:296px;
  margin-top:8px;
  margin-left:8px;
}
/* End Of Portfolio One Column  */
/*----------------------------------------------------*/
/*Portfolio Two Column Styles*/
/*----------------------------------------------------*/
#portfolio-two{
  position:relative;
  display:block;
  width:920px;
}

img.portfolio-two-img{
  float:left;
  background-image:url(../images/site-deco.png);
  padding:8px;
  margin-bottom:30px;
}

.portfolio-two-wrapper{
  display:inline-block;
  width:425px;
  padding-right:30px;

}

h2.portfolio-two-heading{
  font-weight:lighter;
  color:#6d6d6d;
  text-align:left;
  width:250px;
  padding-bottom:30px;

}

p.portfolio-two-text{
  color:#6d6d6d;
  line-height:22px;
  margin-bottom:20px;
}

img.port-two-over{
  filter:alpha(opacity=0);
  opacity:0;
  position:absolute;
  display:block;
  width:405px;
  height:290px;
  margin-top:8px;
  margin-left:8px;
}
/* End Of Portfolio Two Column  */

/*----------------------------------------------------*/
/*Portfolio Three Column Styles*/
/*----------------------------------------------------*/
#portfolio-three{
  position:relative;
  display:block;
  width:990px;
  padding-bottom:20px;
}

img.portfolio-three-img{
  float:left;
  background-image:url(../images/site-deco.png);
  padding:8px;
  margin-bottom:30px;
}

.portfolio-three-wrapper{
  display:inline-block;
  width:263px;
  padding-bottom:30px;
  padding-right:38px;

}

h2.portfolio-three-heading{
  font-weight:lighter;
  color:#6d6d6d;
  text-align:left;
  width:250px;
  padding-bottom:30px;

}

p.portfolio-three-text{
  color:#6d6d6d;
  line-height:22px;
  margin-bottom:17px;
}

img.port-three-over{
  filter:alpha(opacity=0);
  opacity:0;
  position:absolute;
  display:block;
  width:255px;
  height:185px;
  margin-top:8px;
  margin-left:8px;
}

/* End Of Portfolio Three Column  */
/*----------------------------------------------------*/
/* Portfolio Pagination Style */
/*----------------------------------------------------*/
a.pagination{
  color:#FFF;
  background-image:url(../images/pagination/normal.png);
  background-repeat:no-repeat;
}
a.pagination:hover{
  background-image:url(../images/pagination/hover.png);
  background-repeat:no-repeat;
}
a.pagination:active{
  color:#FFF;
  background-image:url(../images/pagination/activated.png);
  background-repeat:no-repeat;
}

h4.tabNavigation-heading{
  font-weight:lighter;
  color:#6d6d6d;
  margin-top:40px;
  float:left;
}

ul.tabNavigation {
  background-image:url(../images/site-deco.png);
  background-repeat:repeat-x;
  width:8px;
  width:880px;
  display:block;
  margin-right:85px;
  list-style:none;
  padding-top:43px;
}
ul.tabNavigation li {
  padding-left:10px;
  float:right;
  display:inline;
  padding-bottom:30px;
}
ul.tabNavigation li a {
  padding: 5px 10px 10px;
  color: #333;
  text-decoration: none;
}

#selected-sub{
  color:#e44d26;
}

#selected{
  color:#e44d26;

}


div.tabs > div {
  margin-top: 3px;
}

div.tabs > div h2 {
  margin-top: 0;
}


/*End Of Portfolio Pagination Style */

/*----------------------------------------------------*/
/*Contact Form Styles */
/*----------------------------------------------------*/

#contactForm{
  width:400px;
  float:left;
  border-style:none;
}


.text-input{
  background-image:url(../images/label.png);
}

.text-input-big{
  background-image:url(../images/label_big.png);
}

#contactName{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  min-height:43px;
  max-height:43px;
  min-width:400px;
  max-width:400px;
  line-height:40px;  /*Internet Explorer 8 Bug Fix For Line Height */
}
#contactEmail{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  min-height:43px;
  max-height:43px;
  min-width:400px;
  max-width:400px;
  line-height:40px; /*Internet Explorer 8 Bug Fix For Line Height */
}
#contactMessage{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  overflow:hidden;
  min-height:191px;
  max-height:191px;
  min-width:400px;
  max-width:400px;
}

p.location-title{
  padding-bottom:15px;
  float:right;
}

#name_label{
}


#message_label{
  display:block;
  margin-top:30px;
}

#email_label{
  display:block;
  margin-top:30px;
}


#nameError{
}
#emailError{
}

#emailError2{
}

.contactButton{
  margin-top:30px;
}

.maps{
  margin-left:460px;
  margin-bottom:30px;
}

/*End Of Contact Form Styles*/



/*----------------------------------------------------*/
/*Tips , Tooltip Styles  */
/*----------------------------------------------------*/
.tipsy { padding-top:5px; padding-left:4px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: #343434; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tipsy-north { background-position: top center }
/*----------------------------------------------------*/

img.footer-image{
  padding-left:5px;
}

.footer-socials{
  float:right;
}

/*End Of Footer Styles*/

/*Blog Styles*/
/*Blog Post Styles */
#blog-wrapper{
  float:left;
  width:610px;
  padding-right:30px;
  display:inline-block;
}

.blog-item{}
.blog-img{
  background-image:url(../images/site-deco.png);
  padding:5px;
  margin-bottom:20px;
}

.blog-share{
  float:right;
  margin-top:-42px;
}

ul.post-details{
  margin-top:-10px;
  margin-bottom:30px;
  opacity:0.7;
  filter:alpha(opacity=70);
}


.post-buttons{
  margin-top:50px;
}

.like-but{
  background:none;
  width:70px;
  float:left;
  padding-left:20px;
}

.tweet-but{
  float:left;
  margin-left:30px;

}
/*End Of Blog Post Styles*/

/*Sidebar Styles */

iframe.sidebar-video{
  float:left;
  background-image:url(../images/site-deco.png);
  padding:10px;
  margin-right:25px;
  margin-bottom:25px;
}

/*Comment Item Styles*/

img.ad{
  background-image:url(../images/site-deco.png);
  padding:5px;
  margin-bottom:20px;
}

.ads h3{
  padding-bottom:20px;
  color:#6e6e6e;
}

.sidebar{
  float:right;
  width:238px;
}

.sidebar-deco{
  width:238px;
  height:8px;
  background-image:url(../images/site-deco.png);
  margin-bottom:20px;
}

#recent-box{
  float:left;
}

#popular-box{
  float:left;
  display:none;
  width:200px;
}

#comments-box{
  float:left;
  display:none;
}

.category-changer{
  width:200px;
  background-image:url(../images/site-deco.png);
  background-repeat:repeat;
}


.comment-item{
  float:left;
  display:block;
  width:200px;
  padding-bottom:20px;
}

.comment-item img{
  float:left;
  padding-right:30px;
}

.comment-item strong{
  float:left;
  color:#6e6e6e;
}

.comment-item em{
  margin-top:5px;
  float:left;
}
/*End Of Comment Styles

/*Recent Item Styles */
.recent-item{
  float:left;
  display:block;
  width:200px;
  padding-bottom:25px;
}

.recent-item img{
  float:left;
  padding-right:30px;
}

.recent-item strong{
  float:left;
  color:#6e6e6e;
}

.recent-item em{
  color:#6e6e6e;
  margin-top:5px;
  float:left;
}
/*End Of Recent Item Styles */
/*Popular Styles */
.popular-item{
  float:left;
  display:block;
  width:200px;
  padding-bottom:20px;
}

.popular-item img{
  float:left;
  padding-right:30px;
}

.popular-item strong{
  float:left;
  color:#6e6e6e;
}

.popular-item em{
  color:#6e6e6e;
  margin-top:5px;
  float:left;
}
/*End Of Popular Styles*/

/*End Of Sidebar Styles*/

/*User comment styles */

.user-comments{
  border-top:solid;
  border-color:#cacaca;
  border-width:1px;
  padding-top:15px;
  float:left;
  display:block;
  width:600px;
  padding-bottom:30px;
}

.user-comment-item{
  float:left;
  margin-bottom:30px;
}
.user-comment-image{
  padding-right:30px;
  float:left;
}

.user-heading{
  color:#6e6e6e;
  font-style:italic;
  margin-top:0px;
  padding-bottom:10px;
}
/*User Comment Box*/


.text-input2{
  width:600px;
  background-image:url(../images/user-comment-field.png);
}

.text-input-big2{
  background-image:url(../images/user-message-field.png);
}

#userName{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  min-height:43px;
  max-height:43px;
  min-width:580px;
  max-width:580px;
  line-height:40px;  /*Internet Explorer 8 Bug Fix For Line Height */
}
#userMail{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  min-height:43px;
  max-height:43px;
  min-width:580px;
  max-width:580px;
  line-height:40px; /*Internet Explorer 8 Bug Fix For Line Height */
}
#userMessage{
  margin-top:15px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  overflow:hidden;
  min-height:121px;
  max-height:121px;
  min-width:580px;
  max-width:580px;
}

p.location-title{
  padding-bottom:15px;
  float:right;
}

#name_label{
}


#message_label{
  display:block;
  margin-top:30px;
}

#email_label{
  display:block;
  margin-top:30px;
}
/*End Of User Comment Box*/
/*End Of User Comment Styles/*


/*Portfolio One Style */
/*----------------------------------------------------*/
