.columns
  width:          1125px

  img.column-image
    padding-top:    5px
    padding-left:  5px
    padding-bottom: 0px
    float:          right

  .column
    +inline-block
    color:          #6f6f6f
    line-height:    22px

    h2
      color: #6e6e6e

    .inset
      +border-radius(5px)
      +box-shadow(rgba(#000, .3) 0 0 5px 1px inset)
      background-image: url('/images/background/pattern/pat1.png')
      background-repeat: repeat
      margin: 0
      padding: 15px
      margin-bottom: 15px

      h2
        text-align: center
        color: #6e6e6e

      h3
        color: #6e6e6e
        margin: 0
        padding: 0

      .about
        width: 200px
        margin: 0

        .profile
          margin-bottom: 15px

    .wall
      width: 200px
      margin-bottom: 15px
      position: relative
      left: 35px

    .other
      position: relative
      left: 50px
      width: 200px
      margin-bottom: 15px



  .column.list
    vertical-align: top
    width: 880px

    .decoration
      width: 880px

    .ttmm
      +inline-block
      margin-bottom: 15px

      .monkey-logo
        +inline-block
        width: 100px
        background-image: url('/images/monkey_100x100_grayscale.png')
        height: 130px
        background-repeat: no-repeat
        background-position: center

      .text
        +inline-block
        width: 520px
        padding-left: 15px

        h2
          text-align: center

  .column.boo
    padding-left: 10px
    vertical-align: top

  .social
    padding-left: 45px

.bla
  width: 1125px
  overflow: hidden
