.post-list
  color: #6f6f6f

  h2
    color: #6e6e6e

  h3
    margin-bottom: 0.5em

  ul
    margin-right: 0
    list-style: none
    padding-left: 0

    li

  span
    position: relative
    display:  inline-block

    &.title
      +ellipsis
      width: 450px

    &.posted_at
      width: 150px

    &.tags
      width: 250px

