

$blueprint_grid_columns: 28
$blueprint_grid_width: 30px
$blueprint_grid_margin: 10px

$lucida:    "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif
$monaco:    monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace

@import compass/reset
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/typography/vertical_rhythm
@import compass/utilities/color/contrast
@import compass/utilities/text/ellipsis
@import compass/css3/inline-block

@import compass/css3/images
@import blueprint
@import blueprint/typography

@import _post_list
@import _columns
@import _footer

$blueprint-font-family: Arial, Helvetica, sans-serif
$blueprint-fixed-font-family: $monaco

+establish-baseline(12px)

// background-image: url('/images/background/pattern/pat4.png')

body
  +blueprint-typography(true)
  background-repeat: repeat

  // a
  //   color: #e44d26

  //   &:visited
  //     color: #e44d26

  .decoration
    margin-bottom: 15px

  .blog-item
    color: #6f6f6f

    .blog-heading
      color: #6e6e6e
      margin-bottom: 0.5em

    ul.post-details
      width: 100%
      position: relative
      list-style-type: none
      padding-bottom: 20px
      margin-top: -10px
      display: block
      padding-left: 0

      li
        background-repeat: no-repeat
        background-position: 0px 4px
        float: left
        padding-left: 20px
        padding-top: 2px
        padding-right: 15px

        &.tags-posted
          background-image: url('/images/blog-lists/tags.png')

        &.time-posted
          background-image: url('/images/blog-lists/clock.png')

        &.user-posted
          background-image: url('/images/blog-lists/user.png')

        &.comments-posted
          background-image: url('/images/blog-lists/comments.png')

        &.more-posted
          background-image: url('/images/blog-lists/more.png')

    .blog-content


      .thumbnail-wrapper
        text-align: center
        .thumbnail
          +inline-block
          padding: 10px
          padding-bottom: 3px
          background-image: url(../images/image-overlay/home-thumbs/thumb_bg.png)

          img
            border: 1px solid rgb(110, 110, 110)

      .highlight
        +border-radius(5px)
        background-image: url('/images/background/pattern/pat1.png')
        background-repeat: repeat
        margin-bottom: 1.5em

        pre
          +border-radius(5px)
          +box-shadow(rgba(#000, .3) 0 0 5px 1px inset)
          margin: 0
          padding-left: 10px
          padding-right: 10px
          padding-top: 5px
          padding-bottom: 5px
          font-family: $monaco
          overflow-x: auto

    .navigation
      margin-bottom: 5px

      .decoration
        margin-bottom: 5px

      .previous
        width: 440px
        display: table-cell

        img
          vertical-align: middle
          margin-right: 5px
      .next
        text-align: right
        width: 440px
        display: table-cell

        img
          vertical-align: middle
          margin-left: 5px
      h4
        display: inline

.footer-socials
  width: 80px
